h1 {
    text-align: center;
    color: rgb( 0, 255, 255);
}
body {
  background-image:url(https://image.freepik.com/vetores-gratis/modelo-poligonal-de-vetor-azul-escuro_6869-1685.jpg);
  color: white;
}
#a {
  padding: 4px;
}
#b {
  padding: 4px;
}
#c {
  padding: 4px;
}
p {
  padding: 4px;
}
.box{
  margin-top: 5%;
}
